
body {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: var(--cellSize);
    height: var(--cellSize);
    border-radius: calc(var(--cellSize) / 10);
}

.cell__alive {
    background-color: white;
}

.cell__dead {
    background-color: brown;
}

.world {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    width:  calc(var(--cellSize) * var(--columns));
    height: calc(var(--cellSize) * var(--rows));
    border: 1px solid black;;
}